---
layout: default
onepage: true
<!-- services:
  - title: Design
    icon: fa fa-bell-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-1-bg.jpg
  - title: Art direction
    icon: fa fa-lightbulb-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-2-bg.jpg
  - title: Branding
    icon: fa fa-bookmark-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-3-bg.jpg
  - title: Photography
    icon: fa fa-heart-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-4-bg.jpg
  - title: Marketing
    icon: fa fa-flag-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-5-bg.jpg
  - title: Support
    icon: fa fa-comment-o
    desc: >-
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae
      doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe
      dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-6-bg.jpg -->
works:
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily Jebari
    position: Founder
    socials:
      - link: 'http://twitter.com'
        icon: twitter
      - link: 'http://facebook.com'
        icon: facebook
    desc: >-
      As the founder and CEO of Wrap, and as an interactions and visual design
      specialist, she knows that user- centred and easy-to-use design is an
      essential way to distinguish a good product and an awesome product.
  - avatar: /assets/images/@stock/member-9.png
    name: Mark Wayne
    position: Creative Director
    socials:
      - link: 'http://twitter.com'
        icon: twitter
      - link: 'http://facebook.com'
        icon: facebook
      - link: 'http://dribbble.com'
        icon: dribbble
    desc: >-
      Mark started designing web sites back in 1992. Since then, he has worked
      for a wide range of digital agencies in the UK and America. At Wrap,
      Mark’s role means solving all kinds of visual design problems.
  - avatar: /assets/images/@stock/member-8.png
    name: Clare Watson
    position: Front-end Developer
    socials:
      - link: 'http://twitter.com'
        icon: twitter
      - link: 'http://facebook.com'
        icon: facebook
      - link: 'http://tumblr.com'
        icon: tumblr
    desc: >-
      Clare is a senior front-end developer here at Wrap, specialises in
      building blocks of the web: HTML, CSS, and JavaScript. She has almost ten
      years experiencs in the front-end development.
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jone Bucan
    position: Senior Designer
    socials:
      - link: 'http://twitter.com'
        icon: twitter
      - link: 'http://facebook.com'
        icon: facebook
    desc: >-
      Jone started designing web sites back in 1992. Since then, he has worked
      for a wide range of digital agencies in the UK and America. At Wrap,
      Jone’s role means solving all kinds of visual design problems.
team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg
testimonials:
  - quote: >-
      Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel
      repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi
      eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi
      eaque rerum est.
    author:
      name: David White
      avatar: /assets/images/@stock/author-avatar-1.png
      position: Designer at Huglab
  - quote: >-
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
      consectetuer sit amet magna adipiscing.
    author:
      name: David White
      avatar: /assets/images/@stock/author-avatar-2.png
      position: Designer at Huglab
  - quote: >-
      Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel
      repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi
      eaque rerum est.
    author:
      name: David White
      avatar: /assets/images/@stock/author-avatar-3.png
      position: Designer at Huglab
clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png
  - /assets/images/@stock/client-7.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-6.png
---

<div class='editable full no-padding parallax home-video-wrapper '>
        <div class="fullscreen"><video autoplay="autoplay" id="fullscreen-video" loop="loop"><source type="video/mp4" src="/assets/images/@stock/cover-video.optimized.mp4" /></video>
          <div class="overlay">&nbsp;</div>
          <div class="layer">
            <p class="small-title present-before-paste">Yarn Network</p>
            <h1 class="thin" id="to-be-update"><span class="fir">Not all</span><br /><span class="sec">Stories are</span><br /><span class="thir">Told Equally</span></h1>
            <h2 class="thin">We use storytelling to promote inclusive investing and team-based entrepreneurship.&nbsp;</h2>
          </div>
        </div>
      </div>


<a id='about'></a>
<div class='editable full '>
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="section-title">
        <p class="small-title">what we do</p>
        <h2>Not all stories are told equally.</h2>
        <p class="big-size">Not all stories are told equally. We want to even the playing score.</p>
        <div class="four spacing">&nbsp;</div><img alt="" src="/assets/images/logo-black.png" /></div>
    </div>
    <div class="four spacing">&nbsp;</div>
  </div>
</div>
<div class="editable full no-overflow no-padding parallax " style="background-image: url({{ "/assets/images/@stock/about-1.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing">&nbsp;</div>
    <div class="section-header alt white">
      <h2>the Yarn Network</h2>
    </div>
    <p class="light">The Yarn Network connects women and minority entrepreneurs from around the world with backers mentors and investors who understand the power of ideas coming from diverse backgrounds in business. We find early stage startups and small businesses with strong teams and compelling stories, vet them for depth of industry experience, passion, and teamwork, and share their stories with expert audiences like seed funds, angel investors, and venture capitalists as well as with people like you, who want to learn from innovators across the world. Our goal is to create a new startup ecosystem that redistributes investment away from tech hubs like Silicon Valley and into areas of the world without strong entrepreneurship ecosystems yet full of innovators.</p>
    <div class="two spacing">&nbsp;</div><a class="button small cc-active" href="#">Meat the team</a>
    <div class="three spacing">&nbsp;</div>
  </div>
</div>


<!-- <a id='services'></a>
<div class='editable full'>
  <div class='editable row'>
    <div class='editable large-8 columns large-centered'>
      <div class="editable section-title">
        <p class="small-title">main services</p>
        <h2>We transform business.</h2>
      </div>
    </div>
  </div>
</div>
<div class='editable full no-overflow no-padding'>
  <div class='editable main-services'>
    {% for item in page.services %}
      <div class='editable medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  
 -->


<a id='works'></a>
<div class='editable full '>
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="section-title">
        <p class="small-title">take a look</p>
        <h2>What we recently do.</h2>
      </div>
    </div>
  </div>
</div>
<div class="editable full no-padding ">
  <div class="mod modBoxedSlider" data-timeout="1500" data-connectors="1">
    <div class="slides slick-initialized slick-slider">
      <div class="slick-list draggable" tabindex="0">
        <div class="slick-track" style="opacity: 1; width: 6708px; transform: translate3d(-1118px, 0px, 0px);">
          <div class="slide slick-slide slick-cloned" data-slick-index="-1" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-10.jpg" /></div>
          <div class="slide slick-slide slick-active" data-slick-index="0" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-1.jpg" /></div>
          <div class="slide slick-slide" data-slick-index="1" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-8.jpg" /></div>
          <div class="slide slick-slide" data-slick-index="2" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-11.jpg" /></div>
          <div class="slide slick-slide" data-slick-index="3" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-10.jpg" /></div>
          <div class="slide slick-slide slick-cloned" data-slick-index="4" style="width: 1118px;"><img width="1200" height="800" alt="" src="/assets/images/@stock/slide-full-1.jpg" /></div>
        </div>
      </div>
      <ul class="slick-dots" style="display: block;">
        <li class="slick-active"><button type="button" data-role="none">1</button></li>
        <li><button type="button" data-role="none">2</button></li>
        <li><button type="button" data-role="none">3</button></li>
        <li><button type="button" data-role="none">4</button></li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class='editable full no-padding' id="demo-1-works">
  <div class='editable mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='editable overlay '>
              <div class='editable thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    
  
 -->
<div class='editable full dark no-padding '>
  <div class="four spacing">&nbsp;</div>
  <div class="row">
    <div class="large-8 columns">
      <h3 class="white">Customized to meet your needs.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.</p>
    </div>
    <!--     <div class='editable large-4 columns'>
        <p>
          <a class='button small boxed' href='#'>Download Now</a>
        </p>
      </div> --></div>
  <div class="two spacing">&nbsp;</div>
</div>


<a id='team'></a>
<div class='editable full dark-grey '>
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="section-title">
        <p class="small-title">The team</p>
        <h2>Hello! This is us.</h2>
      </div>
    </div>
  </div>
</div>
<div class="editable full dark-grey no-padding">
  <div class="members">
    <div class="small-3 columns">
      <div class="member-avatar"><img class="avatar" alt="" src="/assets/images/@stock/member-7.png" /></div>
    </div>
    <div class="small-3 columns">
      <div class="member-avatar"><img class="avatar" alt="" src="/assets/images/@stock/member-9.png" /></div>
    </div>
    <div class="small-3 columns">
      <div class="member-avatar"><img class="avatar" alt="" src="/assets/images/@stock/member-8.png" /></div>
    </div>
    <div class="small-3 columns">
      <div class="member-avatar"><img class="avatar" alt="" src="/assets/images/@stock/member-4-4.png" /></div>
    </div>
  </div>
</div>
<div class="editable full no-padding team-bg ">
  <div class="div member-decs">
    <div class="large-3 columns">
      <div class="member-dec">
        <div class="intro">
          <h3>Lily Jebari</h3>
          <h4>Founder</h4>
          <p>As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product.</p>
          <ul class="socials">
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="member-dec">
        <div class="intro">
          <h3>Mark Wayne</h3>
          <h4>Creative Director</h4>
          <p>Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark&rsquo;s role means solving all kinds of visual design problems.</p>
          <ul class="socials">
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i> </a></li>
            <li><a href="http://dribbble.com"><i class="fa fa-dribbble"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="member-dec">
        <div class="intro">
          <h3>Clare Watson</h3>
          <h4>Front-end Developer</h4>
          <p>Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development.</p>
          <ul class="socials">
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i> </a></li>
            <li><a href="http://tumblr.com"><i class="fa fa-tumblr"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="member-dec">
        <div class="intro">
          <h3>Jone Bucan</h3>
          <h4>Senior Designer</h4>
          <p>Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone&rsquo;s role means solving all kinds of visual design problems.</p>
          <ul class="socials">
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="four spacing">&nbsp;</div>
</div>

<!-- 
<a id='blog'></a>
<div class='editable full grey'>
  <div class='editable row'>
    <div class='editable large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    
  

<div class="editable full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='editable large-4 columns'>
      <div class='editable mod modBlogPost simple'>
        <div class='editable content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='editable spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="editable four spacing"></div>
    </div>
  {% endfor %}
</div>
 -->

<div class='editable full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing">&nbsp;</div>
    <div class="row">
      <div class="section-header alt white">
        <h2>The kind of stories we want to highlight</h2>
      </div>
      <div class="mod modTestimonials simple" data-connectors="1">
        <div class="row">
          <div class="small-12 columns">
            <div class="items slick-initialized slick-slider">
              <div class="slick-list draggable" tabindex="0">
                <div class="slick-track" style="opacity: 1; width: 1495px; transform: translate3d(-299px, 0px, 0px);">
                  <div class="item slick-slide slick-cloned" data-slick-index="-1" style="width: 299px;">
                    <p class="quote">Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.</p>
                    <div class="two spacing">&nbsp;</div>
                    <div class="author">
                      <p class="author-avatar"><img width="80" height="80" alt="" src="/assets/images/@stock/author-avatar-3.png" /></p>
                      <p class="author-name">- <strong>David White</strong>, Designer at Huglab</p>
                    </div>
                  </div>
                  <div class="item slick-slide slick-active" data-slick-index="0" style="width: 299px;">
                    <p class="quote">Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.</p>
                    <div class="two spacing">&nbsp;</div>
                    <div class="author">
                      <p class="author-avatar"><img width="80" height="80" alt="" src="/assets/images/@stock/author-avatar-1.png" /></p>
                      <p class="author-name">- <strong>David White</strong>, Designer at Huglab</p>
                    </div>
                  </div>
                  <div class="item slick-slide" data-slick-index="1" style="width: 299px;">
                    <p class="quote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
                    <div class="two spacing">&nbsp;</div>
                    <div class="author">
                      <p class="author-avatar"><img width="80" height="80" alt="" src="/assets/images/@stock/author-avatar-2.png" /></p>
                      <p class="author-name">- <strong>David White</strong>, Designer at Huglab</p>
                    </div>
                  </div>
                  <div class="item slick-slide" data-slick-index="2" style="width: 299px;">
                    <p class="quote">Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.</p>
                    <div class="two spacing">&nbsp;</div>
                    <div class="author">
                      <p class="author-avatar"><img width="80" height="80" alt="" src="/assets/images/@stock/author-avatar-3.png" /></p>
                      <p class="author-name">- <strong>David White</strong>, Designer at Huglab</p>
                    </div>
                  </div>
                  <div class="item slick-slide slick-cloned" data-slick-index="3" style="width: 299px;">
                    <p class="quote">Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.</p>
                    <div class="two spacing">&nbsp;</div>
                    <div class="author">
                      <p class="author-avatar"><img width="80" height="80" alt="" src="/assets/images/@stock/author-avatar-1.png" /></p>
                      <p class="author-name">- <strong>David White</strong>, Designer at Huglab</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class='editable full'>
  <div class='editable row'>
    <div class='editable large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    
  

<div class="editable full no-padding">
  <div class="editable clients">
    <div class='editable row'>
      {% for client in page.clients %}
        <div class='editable large-3 medium-6 small-6 columns'>
          <div class="editable client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="editable four spacing"></div>
</div> -->

<div class="editable four spacing ">
  
</div>
<a id='contact'></a>
<!-- {% include contact-form.html %}
 -->
{% include social-networks.html %}